*.c linguist-language=go
*.cs linguist-language=go
*.cpp linguist-language=go
*.js linguist-language=go
*.html linguist-language=go
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.cpp linguist-detectabl=false
